{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

{% if user.is_authenticated %}
<section class="p-5">
    <div class="w-75 mx-auto shadow p-5 border border-2 border-dark mt-5">
      <form action="" method="POST" id="questionnaireForm" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center mb-5" style="font-style:initial;">Questionnaire</h1>
        <h3 class="text-center" style="font-style: initial;">Time Remaining: <span id="timer"></span></h3>
        <br>
        
        <div class="slides">
          {% for qus in questions %}
          <div class="s">
            <p>{{ forloop.counter }}. {{ qus }}</p>
            <div class="row col-lg-12">
              <div class="col-lg-6">
                <h3 class="text-center">Upload Answer Images</h3>
                <input type="file" name="answer{{ forloop.counter0 }}" required>
              </div>
              <div class="col-lg-6">
                <h3 class="text-center">Upload Associate Diagram</h3>
                <input type="file" name="diagram{{ forloop.counter0 }}" required>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
        <div class="buttons d-flex justify-content-between mt-5 pt-5">
          <div>
            <button class="btn btn-outline-dark" type="button" id="prevBtn">Previous</button>
            <button class="btn btn-outline-dark" type="button" id="nextBtn">Next</button>
          </div>
          <button class="btn btn-outline-dark ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to submit?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      // Submit button click event
      $('#submitBtn').click(function() {
        // Show confirmation dialog
        if (confirm('Are you sure you want to submit?')) {
          // If user clicks "OK", submit the form
          $('#questionnaireForm').submit();
        }
      });
    });
  </script>
    {% endif %}
{% endblock body %}
